<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Матрица компетентности программиста</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <style>
        .header {
            position: sticky;
            top: 0;
        }

        /* Hide scrollbar for Chrome, Safari and Opera */
        body::-webkit-scrollbar {
            display: none;
        }

        body {
            background-color: dimgray;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        body {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        td,
        tr {
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="app">
        <header>
            <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#" @click="goBack">Return to book <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">RU</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <table class="table table-dark table-striped table-hover table-bordered">
            <thead class="header">
                <tr class="bg-danger">
                    <td v-for="column in columns"><strong>{{ column.name }}</strong></td>
                </tr>
            </thead>
            <tbody v-for="row in rows">
                <td><strong>{{ row.name }}</strong></td>
                <td>{{ row.firstColumn }}</td>
                <td>{{ row.secondColumn }}</td>
                <td>{{ row.thirdColumn }}</td>
                <td>{{ row.fourColumn }}</td>
            </tbody>
        </table>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                columns: [
                    { name: "" },
                    { name: "2^n (Уровень 0)" },
                    { name: "n^2 (Уровень 1)" },
                    { name: "n (Уровень 2)" },
                    { name: "log(n) (Уровень 3)" },
                ],
                rows: [
                    {
                        "name": "Структуры данных",
                        "firstColumn": "Не понимает разницы между массивом и связным списком.",
                        "secondColumn": "Может объяснить и использовать на практике массивы, связные списки, словари и т.д.",
                        "thirdColumn": "Понимает плюсы и минусы использования тех или иных базовых структур данных (размер памяти, время выполнения операций с данными, в чем разница между массивами и связными списками в этом плане). Может объяснить как реализовать хэш-таблицы и как обработать коллизии. Приоритетные очереди и способы их реализации, и т.д.",
                        "fourColumn": "Знание сложных структур данных, таких как B-дерево, Биномиальная куча и Фибоначчиевская куча, АВЛ-дерево, Красно-чёрное дерево, Косое дерево, Список с пропусками, TRIE-структуры и т.д."
                    },
                    {
                        "name": "Алгоритмы",
                        "firstColumn": "Не может найти среднее значение массива чисел. (Тяжело поверить, но встречаются и такие кандидаты на собеседовании.)",
                        "secondColumn": "Базовые методы сортировки и поиска. Обход и поиск в структурах данных.",
                        "thirdColumn": "Деревья, Графы, \"простой путь\" и  \"разделяй и властвуй\"-алгоритмы. Понимает ассоциацию уровней этой матрицы.",
                        "fourColumn": "Может распознать и написать решение динамическим программированием, хорошо знает алгоритмы на графах, хорошо знает численные методы, может идентифицировать проблемы класса NP."
                    },
                    {
                        "name": "Системное программирование",
                        "firstColumn": "Не знает что такое компилятор, компоновщик или интерпретатор.",
                        "secondColumn": "Базовое понимание компиляторов, компоновщиков и интерпретаторов. Понимает, что такое ассемблерный код и как работают программы на уровне железа. Небольшое понимание виртуальной памяти и пэйджинга.",
                        "thirdColumn": "Понимает чем отличается kernel mode от user mode, что такое мульти-трединг. Знает способы синхронизации и как реализованы примитивы синхронизации. Может читать ассемблерный код. Понимает, как работают сети, сетевые протоколы и может реализовать передачу данных через сокеты.",
                        "fourColumn": "Понимает как работает весь \"программный стэк\": железо (CPU + Память + Кэш + Прерывания + микрокоды), двоичный код, ассемблер, статическая и динамическая линковка, компиляция, интерпретация, JIT-компиляция, сборка мусора, куча, стэк, адресация памяти."
                    },
                    {
                        "name": "Контроль версий исходников",
                        "firstColumn": "Бэкап исходников в папку с датой бэкапа.",
                        "secondColumn": "VSS и основы CVS/SVN в качестве пользователя.",
                        "thirdColumn": "Специалист по возможностям CVS и SVN. Знает как создать, разветвить, слить репозитарий и т.д.",
                        "fourColumn": "Знает распределенные системы VCS. Работает с Mercurial/Darcs/Git"
                    },
                    {
                        "name": "CI/CD",
                        "firstColumn": "Знает как запустить Build из среды программирования.",
                        "secondColumn": "Умеет билдить из командной строки.",
                        "thirdColumn": "Может настроить скрипт для сборки основной системы.",
                        "fourColumn": "Может настроить скрипт для сборки системы и документации, для сборки инсталляторов.Сделает и добавит код скрипта в систему контроля версий исходников."
                    },
                    {
                        "name": "Автоматизация тестирования",
                        "firstColumn": "Считает, что тестирование - это работа тестеров.",
                        "secondColumn": "Может создавать свои хорошие юнит-тесты для кода, который пишет в настоящее время.",
                        "thirdColumn": "Пишет код в стиле Test-driven Development (TDD).",
                        "fourColumn": "Может создавать автоматические тесты на функционал, пользовательский интерфейс и загрузку/производительность."
                    },
                    {
                        "name": "Декомпозиция задачи",
                        "firstColumn": "Просто последовательные строчки. Copy/Paste - для повторного использования кода.",
                        "secondColumn": "Может разбивать решение задачи на несколько функций.",
                        "thirdColumn": "Способен создавать многократно используемые функции/объекты, которые решают общие задачи.",
                        "fourColumn": "Использует соответствующие структуры данных и алгоритмы. Создает общий/объектно-ориентированный код, который инкапсулирует те условия задачи, которые могут быть изменены."
                    },
                    {
                        "name": "Декомпозиция системы",
                        "firstColumn": "Не способен думать о системе более сложной, чем один класс или файл.",
                        "secondColumn": "Может произвести декомпозицию задачи и спроектировать систему в пределах одной платформы или технологии.",
                        "thirdColumn": "Может спроектировать систему, которая охватывает несколько технологий/платформ.",
                        "fourColumn": "Может визуализировать и проектировать сложные системы с несколькими линейками продуктов, учитывать интеграциею с внешними системами. Также должен уметь проектировать системы поддержки работы: мониторинг, генерация отчетов, аварийные переходы на использование запасных ресурсов."
                    },
                    {
                        "name": "Общение",
                        "firstColumn": "Не может выразить свои мысли/идеи. Плохо с правописанием и грамматикой.",
                        "secondColumn": "Его понимают. Хорошие правописание и грамматика.",
                        "thirdColumn": "Может эффективно общаться.",
                        "fourColumn": "Может понимать и объяснять мысли/дизайн/идеи/специфику в точно выраженной  форме. В общении соответствует ситуации."
                    },
                    {
                        "name": "Организация кода в файле",
                        "firstColumn": "Нет четкой организации кода в файле.",
                        "secondColumn": "Методы сгруппированны логически и по вызовам.",
                        "thirdColumn": "Код разделен на регионы,  имеет хорошие комментарии, в т.ч. со ссылками на другие файлы исходников.",
                        "fourColumn": "Файл имеет разделы \"license header\", \"summary\", хорошие комментарии, непротиворечивую расстановку пробелов и табуляции. Файл должен выглядеть красиво."
                    },
                    {
                        "name": "Организация кода между файлами",
                        "firstColumn": "Не приходит в голову мысль четко организовать код с помощью разделения на файлы.",
                        "secondColumn": "Похожие файлы группируются в папку.",
                        "thirdColumn": "Каждый физический файл предназначен для чего-то одного, например, служит для объявления одного класса или для реализации одного функционала и т.д.",
                        "fourColumn": "Организация кода на физическом уровне точно соответствует проекту. Глядя на имена файлов и структуру папок, можно понять как спроектирована данная реализация."
                    },
                    {
                        "name": "Организация дерева исходников",
                        "firstColumn": "Все в одной папке.",
                        "secondColumn": "Простое разделение кода в логические подкаталоги.",
                        "thirdColumn": "Нет \"круговых\" зависимостей. Бинарники, либы, документация, билды, сторонний код - все разложено в соответствующие папки.",
                        "fourColumn": "Структура дерева исходного кода соответствует логической иерархии и организации кода в проекте. Глядя на имена файлов и структуру папок, можно понять как спроектирована данная система."
                    },
                    {
                        "name": "Читабельность кода",
                        "firstColumn": "Односложные имена.",
                        "secondColumn": "Хорошие имена файлов, переменных, классов, методов и т.д.",
                        "thirdColumn": "Нет длинных функций, а нестандартный код, багфиксы и допущения в коде поясняются комментариями.",
                        "fourColumn": "Допущения в коде сопровождаются assert'ами. Поток операций в коде естественный - нет глубокой вложенности условий или методов."
                    },
                    {
                        "name": "Безопасное программирование",
                        "firstColumn": "Не понимает данной концепции.",
                        "secondColumn": "Проверяет все аргументы и ставит assert'ы на критические допущения в коде.",
                        "thirdColumn": "Убеждается, что проверил возвращаемое значение и что обрабатывает исключения в потенциально бажном коде.",
                        "fourColumn": "Имеет свою собственную библиотеку помогающую в безопасном программировании, пишет юнит-тесты которые эмулируют сбои."
                    },
                    {
                        "name": "Обработка ошибок",
                        "firstColumn": "Пишет код для \"идеального\" случая, когда все работает и нет сбоев.",
                        "secondColumn": "Обработка ошибок в коде, который либо кидает исключение, либо генерирует ошибку.",
                        "thirdColumn": "Убеждается, что после того, как произошла ошибка/исключение, программа продолжает работать, а ненужные более ресурсы, коннекшоны и память были корректно освобождены обработчиком ошибки.",
                        "fourColumn": "Пишет код так, чтобы определять возможные ошибки на раннем этапе,  придерживается последовательной стратегии обработки исключений во всех слоях кода, разрабатывает общие принципы обработки исключений во всей системе."
                    },
                    {
                        "name": "IDE",
                        "firstColumn": "В основном использует IDE для редактирования текста.",
                        "secondColumn": "Способен эффективно пользоваться меню в IDE. Знает некоторые тонкости среды.",
                        "thirdColumn": "Для самых используемых функций  среды знает горячие клавиши.",
                        "fourColumn": "Написал свои макросы."
                    },
                    {
                        "name": "API",
                        "firstColumn": "Часто нуждается в обращениях к документации.",
                        "secondColumn": "Помнит самые часто используемые API.",
                        "thirdColumn": "Обширные и глубокие знания API.",
                        "fourColumn": "Написал библиотеки, которые оборачивают API, для упрощения задач, которые наиболее часто встречаются. Эти библиотеки также часто восполняют пробелы в API."
                    },
                    {
                        "name": "Фреймворки",
                        "firstColumn": "Не использует никаких фреймверков за рамками основной платформы.",
                        "secondColumn": "Знает, но не использует популярные фреймворки, доступные для его платформы.",
                        "thirdColumn": "Профессионально пользовался более чем одним фреймворком и хорошо разбирается в идиомах фреймворков.",
                        "fourColumn": "Является автором фреймворка."
                    },
                    {
                        "name": "Требования",
                        "firstColumn": "Понимает выставленные требования и пишет код в соответствии со спецификацией.",
                        "secondColumn": "Задает вопросы касающиеся не рассмотренных в спецификации случаев.",
                        "thirdColumn": "Понимает картину в целом и предлагает дополнительные аспекты, которые должны быть описаны в спецификации.",
                        "fourColumn": "Может предложить лучшие альтернативы и следовать выставленным требованиям, основываясь на собственном опыте."
                    },
                    {
                        "name": "Скрипты",
                        "firstColumn": "Отсутствует знание скриптовых инструментов.",
                        "secondColumn": "Batch-файлы/shell.",
                        "thirdColumn": "Perl/Python/Ruby/VBScript/Powershell.",
                        "fourColumn": "Писал и публиковал повторно используемые скрипты."
                    },
                    {
                        "name": "Базы Данных",
                        "firstColumn": "Думает, что Excel - это база данных.",
                        "secondColumn": "Знает основы баз данных, нормализацию, ACID, транзакции и может написать простые select'ы.",
                        "thirdColumn": "Может спроектировать хорошие нормализованные схемы БД, с учетом запросов, которые будут выполняться; умело использует представления, хранимые процедуры, триггеры и собственные типы данных. Понимает разницу между кластеризованными и не-кластеризованными индексами. Специалист в использовании  ORM -тулзов.",
                        "fourColumn": "Может осуществлять администрирование БД, оптимизацию производительности БД, индексную оптимизацию, писать сложные select'ы, может заменить использование курсора  вызовами функций sql, понимает как данные хранятся внутри, как хранятся индексы, имеет представление о том, как зеркалятся и реплицируются БД и т.д. Понимает как работает двухфазный commit."
                    },
                    {
                        "name": "Языки и профессиональный опыт",
                        "firstColumn": "Императивные или объектно-ориентированные программирования",
                        "secondColumn": "Императивные, объектно-ориентированные и декларативные (SQL) языки программирования. Дополнительный бонус - если понимает разницу между статической и динамической, слабой и строгой типизацией, статически выводимыми типами.",
                        "thirdColumn": "Функциональные языки программирования. Дополнительный бонус - если знает, что такое \"ленивые вычисления\", каррирование, продолжения.",
                        "fourColumn": "Конкурентные (Erlang, Oz) и логические (Prolog)."
                    },
                    {
                        "name": "Годы профессионального опыта",
                        "firstColumn": "1",
                        "secondColumn": "2-5",
                        "thirdColumn": "6-9",
                        "fourColumn": "10+"
                    },
                    {
                        "name": "Годы профессионального опыта конкретной платформы",
                        "firstColumn": "1",
                        "secondColumn": "2-3",
                        "thirdColumn": "4-5",
                        "fourColumn": "6+"
                    },
                    {
                        "name": "Знание предметной области",
                        "firstColumn": "Не знает о понятии \"предметная область\".",
                        "secondColumn": "Работал хотя бы над одним продуктом в своей предметной области.",
                        "thirdColumn": "Работал над несколькими продуктами в одной и той же предметной области.",
                        "fourColumn": "Эксперт своей предметной области, проектировал и реализовывал несколько продуктов/решений в ней, хорошо разбирается в ее сущностях и протоколах."
                    },
                    {
                        "name": "Инструментарии",
                        "firstColumn": "Ограничены используемой IDE (VS.Net, Eclipse и т.д.)",
                        "secondColumn": "Знает о некоторых альтернативах популярным стандартным инструментариям.",
                        "thirdColumn": "Хорошие знания редакторов кода, отладчиков, различных IDE, open-source альтернативах и т.д. (Например, это может быть кто-то, кто знает большинство тулзов из списка Скота Ганзельмана.) Использует ORM-тулзы.",
                        "fourColumn": "Написал свои инструментарии и скрипты, дополнительный плюс - если эти скрипты были опубликованы."
                    },
                    {
                        "name": "Знание внутренних аспектов платформы",
                        "firstColumn": "Нулевые знания внутåренних аспектов платформы.",
                        "secondColumn": "В основном, знает как работает платформа внутри.",
                        "thirdColumn": "Имеет глубокие познания внутренних аспектов платформы и может обрисовать, как платформа исполняет программный код.",
                        "fourColumn": "Написал свои тулзы для расширения возможностей платформы или для извлечения дополнительной информации о работе платформы. Например расширения дизассемблера, декомпилятора, отладчика и т.д."
                    }
                ]
            },
            methods: {
                goBack: function () {
                    window.history.back();
                }
            }
        });
    </script>
</body>

</html>